/*
Theme Name: Simple Pro
Theme URI: https://miosito.com
Author: Alessio Arzenton
Author URI: https://miosito.com
Description: Our fantastic base theme
Version: 1.0
Requires at least: 5.0
Tested up to: 5.4
Requires PHP: 7.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: simplepro
This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/

* {
  box-sizing: border-box;
}

li.list-nav a:link, li.list-nav a:visited {
  text-decoration: none;
  color: #6D757D;
  transition: all .3s ease;
}
li.list-nav a:hover {
  color: white;
}
